<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Crypto | Inicio</title>
</head>
<body>
    <div class="container">
        <section>
            <h1>Crypto</h1>
            <p>Crypto es una herramienta en linea que permite encriptar y desencriptar texto usando el 
            algoritmo de cifrado <b>AES</b>. Puedes utilizar la herramienta <a href="/login">aqui</a>.</p>
        </section>
    </div>
</body>
</html>
