<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto | Inicio de Sesion</title>
</head>
<body>
    <h1>Iniciar Sesion</h1>
    <form method="POST" action="/login">
        <p>
            <label for="username">Nombre de usuario: </label><br>
            <input type="text" id="name" name="username" size="32"><br>
        </p>
        <p>
            <label for="email">Contrasena: </label><br>
            <input type="text" id="passwd" name="passwd" size="32"><br>
        </p>
        <p><input type="submit" value="Iniciar Sesion"></p>
    </form>
</body>
</html>
