<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto | Crear cuenta</title>
</head>
<body>
    <h1>Crear cuenta</h1>
    <form method="POST" action="/signup">
        <p>
            <label for="username">Nombre de usuario: </label><br>
            <input type="text" id="name" name="username" size="32" required><br>
        </p>
        <p>
            <label for="email">Email: </label><br>
            <input type="email" id="name" name="email" size="80" required><br>
        </p>
        <p>
            <label for="passwd">Contrasena: </label><br>
            <input type="password" id="passwd" name="passwd" size="32" required><br>
        </p>
        <p>
            <label for="passwd-confirm">Confirmar contrasena: </label><br>
            <input type="password" id="passwd-confirm" name="passwd-confirm" size="32" required><br>
        </p>
        <p><input type="submit" value="Crear cuenta"></p>
    </form>
</body>
</html>
